body{
    background: rgba(0, 0, 0, 0.884);
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}
.main_heading{
    font-size: 50px;
    border-bottom: 2px solid white;
}
.main_heading_blue{
    color: blue;
}
table th, table td{
    border-bottom: 2px solid white;
    padding: 10px;
}
.table_head{
    font-size: 25px;
}
.table_content{
    text-align: center;
    font-size: 20px;
}
.red_content{
    color: red;
}
a{
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(12, 12, 219);
}
a:hover{
    background-color: rgb(10, 10, 136);
}
@media (max-width:750px) {
 .main_heading{
    font-size: 40px;
}
.table_head{
    font-size: 20px;
}
.table_content{
    text-align: center;
    font-size: 16px;
}   
a{
    padding: 4px;
    font-size: 16px;
}
}
@media (max-width:550px) {
 .main_heading{
    font-size: 30px;
}
.table_head{
    font-size: 18px;
}
.table_content{
    text-align: center;
    font-size: 16px;
}   
a{
    padding: 4px;
    font-size: 16px;
}
}